<!-- <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input 
     matInput
     type={{type}} 
     [formControl]="ngControl.control"
     placeholder={{label}}
     >
     
    <mat-error *ngIf="ngControl.control.errors?.required">Please enter a {{label}} </mat-error>

    <mat-error *ngIf="ngControl.control.errors?.minlength">{{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}</mat-error>

    <mat-error *ngIf="ngControl.control.errors?.maxlength">{{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}}</mat-error>

    <mat-error *ngIf="ngControl.control.errors?.isMatching">Passwords do not match</mat-error>

  </mat-form-field> -->
