.example-card {
    width: 250px;
    min-height: 450px;
    
    @media only screen and (max-width: 600px) {
        min-width: 350px;
        min-height: 600px;
    }

    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
  }