<mat-toolbar color="primary" class="mat-elevation-z8 sticky">

    <button *ngIf="accontService.currentUser$ | async" mat-mini-fab color="accent" (click)="toggle.emit()" class="example-icon" >
        <mat-icon>menu</mat-icon>
    </button>
    
    <span>
        <a style="text-decoration: none; color: #fff;" routerLink='/'>Dating App</a>
    </span>

    <span class="example-spacer" ></span>
    
    <form *ngIf="(accontService.currentUser$ | async) === null" id="login-form" #loginForm="ngForm" class="loginform" (ngSubmit)="login()" >

        <mat-form-field class="field-item" >
          <mat-label>UserName</mat-label>
          <input matInput type="text" [(ngModel)]="model.username"
          name="username" required>
        </mat-form-field>
    
        <mat-form-field class="field-item">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" 
            [(ngModel)]="model.password" name="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button"
            style="outline: none;">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <button *ngIf="(accontService.currentUser$ | async) === null" form="login-form" mat-raised-button color="accent" type="submit" style="margin-right: 5px; outline: none;" >Login</button>
    
      
    <div class="mat-elevation-z8" style="height: 50px; width: 50px; overflow: hidden; border-radius: 50%;" *ngIf="(accontService.currentUser$ | async) as user">
        <!-- <mat-icon>person</mat-icon> -->
        <img src="{{user.photoUrl || '/assets/profile.png'}}" alt="{{user.userName}}" style="height: 100%; width: 100%;">
    </div>

    <button style="outline: none;" mat-icon-button color="white" [matMenuTriggerFor]="menu" *ngIf="accontService.currentUser$ | async">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="(accontService.currentUser$ | async) as user">
            <span mat-menu-item>Welcome {{user.userName | titlecase}}</span>

            <button style="outline: none;" mat-menu-item routerLink='member/edit'>
                <mat-icon>edit</mat-icon>
                <span>Edit Profile</span>
            </button>

            <button style="outline: none;" mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
            
            <button style="outline: none;" mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </ng-container>
    </mat-menu>

</mat-toolbar>