<mat-chip-list aria-label="Fish selection" style="margin-top: 3px;">
    
    <mat-chip color="accent" selected>Yours matches - {{pagination?.totalItems}} found</mat-chip>
</mat-chip-list>

<div>
    <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off">
        <mat-form-field class="example-full-width">
            <mat-label>Age from:</mat-label>
            <input type="number" matInput name="minAge" [(ngModel)]="userParams.minAge">
            <mat-icon matSuffix>play_arrow</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Age to:</mat-label>
            <input type="number" matInput name="maxAge" [(ngModel)]="userParams.maxAge">
            <mat-icon matSuffix>stop</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Gender</mat-label>
            <mat-select name="gender" [(ngModel)]="userParams.gender">
              <mat-option [value]="gender.value" *ngFor="let gender of genderList">{{gender.display}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" class="example-full-width">Apply Filters</button>
          <button (click)="resetFilters()" mat-raised-button color="accent" class="example-full-width">Reset Filters</button>

        <mat-button-toggle-group name="orderBy" aria-label="Font Style" [(ngModel)]="userParams.orderBy">
          <mat-button-toggle (change)="filterOder('lastActive')" value="lastActive">
              <mat-icon>watch_later</mat-icon>
              Last Active
          </mat-button-toggle>
          <mat-button-toggle (change)="filterOder('created')" value="created">
              <mat-icon>fiber_new</mat-icon>
              Newest Members
          </mat-button-toggle>
  
        </mat-button-toggle-group>

    </form>
</div>

<div class="Mycontainer">
    <div class="Mycard" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<mat-paginator [length]="totalItems"
              [pageSize]="userParams.pageSize"
              [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 100]"
              (page)="pageChanged($event)">
</mat-paginator> 

