.Mycontainer{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80vh;
    

    .Mycard{
        margin: 15px;
        
    }
}