.main{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.example-card {
    flex: 1 1;
    width: 400px;
    margin: 10px;
  }

  .example-card2{
      flex: 4 4;
      margin: 10px;
      padding: 0px;
      min-height: 500px;
      
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .tab-content{
      min-height: 100%;
      padding: 20px;
      overflow-y: hidden;
  }
