.container{
    display: flex;
    align-items: center;
    flex-direction: column;

    .info-area{
        display: flex;
    align-items: center;
    flex-direction: column;

    }

    .btn{
        margin: 5px;
    }
}

